#Form div {
    display: grid;
    grid-template-columns: 150px 250px;
    margin-bottom: 10px;
    align-items: center;
}

#Form label {
    text-align: right;
    padding-right: 10px;
}

#Form input {
    width: 250px;
}