{% extends "master.html" %}

{% block title %}
Item ekleme
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>Item ekleme</h1>
    <ul>
        placeholder
    </ul>
    <h2>Add User Information</h2>

      <form id="userForm">
        <div>
          <label for="name"> Bakanlık Adı: </label> 
          <input type="text" id="name" placeholder="">
        </div> 
        
        <div>
          <label for="email"> Daire Adı: </label> 
          <input type="email" id="email" placeholder="">
        </div> 
        
        <div>
          <label for="age"> Ayniyat No: </label> 
          <input type="number" id="age" placeholder="">
        </div>
        
        <div>
          <label for="name"> Malzeme Adı: </label> 
          <input type="text" id="name" placeholder="">
        </div>
        
        <div>
          <label for="name"> Kıymet: </label> 
          <input type="text" id="name" placeholder="">
        </div>
        
        <div>
          <label for="name"> Fatura No: </label> 
          <input type="text" id="name" placeholder="">
        </div> 

        <div>
          <label for="name"> Açıklama: </label> 
          <input type="text" id="name" placeholder="">
        </div> 

        <div>
          <label for="name"> Demşirbaş No: </label> 
          <input type="text" id="name" placeholder="">
        </div>
        
        <div>
          <label for="name"> Bulunduğu oda: </label> 
          <input type="text" id="name" placeholder="">
        </div> 
          
          <button type="submit">Add Data</button>
      </form>
    <a href="app/" class="button">Add</a>
  </div>



{% endblock %}

