{% extends "master.html" %}

{% block title %}
  {{ item.demirbas_no }} hakkında detaylar:
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ item.aciklama }} - {{ item.demirbas_no }}</h1>
    <h2>Bulunduğu oda: {{ item.allocated_room }}</h2>
    <p>Bakanlık adı: {{ item.bakanlik_adi }}</p>
    <p>Malzeme adı: {{ item.malzeme_adi }} </p>
    <p>Ayniyat No: {{ item.ayniyat_no }} </p>
    <p>Kıymet: {{ item.kiymet }} TL </p>
    <p>Fatura No: {{ item.fatura_no }} </p>
    <p>Daire Adı {{ item.daire_adi }} </p>
  </div>
{% endblock %}  