{% extends "master.html" %}

{% block title %}
  Details about Item {{ item.demirbas_number }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ item.aciklama }} {{ item.demirbas_number }}</h1>
    <h2>Bulunduğu oda: {{ item.room }}</h2>
    <p>Bakanlık adı: {{ item.bakanlik_adi }}</p>
    <p>Malzeme adı: {{ item.malzeme_adi }} Ayniyat No: {{ item.ayniyat_no }} </p>
    <p>Kıymet: {{ item.kiymet }} TL </p>
    <p>Fatura No: {{ item.fatura_no }} </p>
    <p>Daire Adı {{ item.daire_adi }} </p>
  </div>
{% endblock %}  