{% extends "master.html" %}

{% block title %}
  {{ room.room_name }} Odası hakkında detaylar:
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>Oda no: {{ room.room_name }}</h1>
    <p>Açıklama {{ room.description }} </p>
    <h2>Odada bulunan itemler:</h2>
    <ul>
      {% for x in room.allocated_items.all %}
        <li onclick="window.location = '../item_details/{{ x.id }}'"> {{ x.aciklama }} - {{ x.demirbas_no }} </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}  