{% extends "master.html" %}

{% load static %}

{% block title %}
Item güncelleme
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'grid.css' %}"> 
<div class="mycard">
    <h1>Eşya güncelleme</h1>
    <ul>
        
    </ul>
    <h2>Eşya Bilgilerini Güncelle</h2>

      <form method="post", id="Form">
        {% csrf_token %}
        <div>
          <label> Bakanlık Adı: </label> 
          {{ form.bakanlik_adi }}
          <!--<input type="text" value="{{ item.bakanlik_adi }}" readonly>-->
        </div> 
        
        <div>
          <label for="daire_adi"> Daire Adı: </label>
          {{ form.daire_adi }} 
          <!--<input type="text" value="{{ item.daire_adi }}" readonly>-->
        </div> 
        
        <div>
          <label for="ayniyat_no"> Ayniyat No: </label>
          {{ form.ayniyat_no }}
          <!--<input type="text" value="{{ item.ayniyat_no }}" readonly>-->
        </div>
        
        <div>
          <label for="malzeme_adi"> Malzeme Adı: </label>
          {{ form.malzeme_adi }}
        </div>
        
        <div>
          <label for="kiymet"> Kıymet: </label>
          {{ form.kiymet }} 
          <!--<input type="float" value="{{ item.kiymet }}" readonly>-->
        </div>
        
        <div>
          <label for="fatura_no"> Fatura No: </label>
          {{ form.fatura_no }} 
          <!--<input type="int" value="{{ item.fatura_no }}" readonly>-->
        </div> 

        <div>
          <label for="aciklama"> Açıklama: </label> 
          {{ form.aciklama }}
        </div> 

        <div>
          <label for="demirbas_no"> Demirbaş No: </label>
          {{ form.demirbas_no }} 
          <!--<input type="text" value="{{ item.demirbas_no }}" readonly>-->
        </div>
        
        <div>
          <label> Bulunduğu oda: </label> 
          {{ form.allocated_room }}
        </div>
        
        <div>
          <label> Durum: </label> 
          {{ form.status }}
        </div> 
        <button type="submit">Güncelle</button>
        <button><a href="{% url 'item_details' item.id %}" class="button">İptal</a></button>
        <!--<div class="buttons">
            <a href="{% url 'item_details' item.id %}" class="button">
                Cancel
            </a>
        </div>-->
      </form>

{% endblock %}